<div className="preview">
    <h3 style="color: #007655">Hello, {{name}} parents,</h3>
    <p>I'm sending you an invoice for this year's {{month}} after school activity {{activity_name}}. Thank you for allowing your child to attend to {{activity_name}}.</p>
    <p>Bank: {{bank}}</p>
    <p>Recipient: {{recipient_name}}</p>
    <p>Account no.: {{account_no}}</p>
    <p>To pay: {{price}} Eur</p>
    <p>Please enter your child's name and the month you're paying for in the details of the transaction.</p>
    <p>Sincerely,</p>
    <p>{{activity_name}} teacher {{teacher_name}}</p>
    <p>Phone no.: {{phone}}</p>
</div>