<div>
    <h3 style="color: #007655">Sveiki, {{name}} tėveliai,</h3>
    <p>Siunčiu Jums sąskaitą ir prašau apmokėti už {{month}} mėn. būrelį {{activity_name}}. Dėkoju, kad suteikiate savo
        vaikui galimybę lankyti {{activity_name}}</p>
    <p>Bankas: {{bank}}</p>
    <p>Gavėjas: {{recipient_name}}</p>
    <p>Sąskaitos nr.: {{account_no}}</p>
    <p>Kaina: {{price}} Eur</p>
    <P>Mokėjimo paskirtyje nurodykite vaiko vardą ir už kurį mėnesį mokate.</p>
    <p>Pagarbiai,</p>
    <p>{{activity_name}} vadovas {{teacher_name}}</p>
    <p>Telefono nr.: {{phone}}</p>
</div>